#containerCanvas {
    width: 800px;
    height: 600px;
    border: 2px solid black;
    /* change position to FIXED to make the game field unscalable Kamen beshe tuka */
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;
}